body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300vh;
}

/* HEADER */

header {
    background-image: url(img/billboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    position: relative;
}

header h4 {
    font-size: 60px;
    position: absolute;
    
    bottom: 0;
    color: white;
    width: 100%;
    background-image: url(img/shadow.png);
    background-repeat: repeat-x;
    height: 140px;
}

nav {
    padding: 10px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 60px;
}
header ul {
    background-image: url(img/logo_light.png);
    background-repeat: no-repeat;
    background-size: 60px 20px;
    padding: 10px;
    background-position: 25% 10%;
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
}

header ul li a {
    text-decoration: none;
    color: white;
    padding-top: 35px;
    padding-right: 20px;
    font-size: 1rem;
}

header ul li a:hover {
    color: black;
}

header h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding: 10px;
    padding-top: 60px;
}

header h3 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
    padding: 10px;
}

header hr {
    border: none;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.514);
}

/* MAIN */

main {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0%;
    padding: 20px 160px;
    padding-bottom: 40px;
    position: relative;
}

.wrapper h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.wrapper article {
    padding: 60px;
    display: flex;
    flex-flow: nowrap column;
    position: relative;
}
.wrapper img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position:absolute;
    left : 45%;
}

.wrapper h2 {
    margin-top: 30px;
}

.wrapper p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.phoneblock article img {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.phoneblock article button {
    position: absolute;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    left: 50%;
    transform: translateX(50%);
    transform: translateY(-250%);
}

.clients {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blogpoststitle {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.blogpoststitle h2 {
    padding-top: 60px;
    padding-bottom: 4px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.blogpoststitle h3 {
    padding-bottom: 60px;
}

.blogposts {
    background-color: rgb(233, 233, 233);
}

.blogpostsimages {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: nowrap row;
    justify-content: center;
}

.blogpostsimages img {
    padding-bottom: 15px;
}


.blogpostsimages p {
    padding-bottom: 60px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer ul li {
    padding: 10px;
}

footer ul li:nth-last-of-type(1) {
    padding-right: 300px;
}

footer img {
    padding-right: 30px;
}

